version: '3.8'

services:
  bot:
    build: .
    container_name: telegram_bot
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - DB_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/bot_hacktaika
    volumes:
      - ./logs:/app/logs
    command: >
      sh -c "
        alembic upgrade head &&
        python -m app.main
      "
    networks:
      - bot_network

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: bot_hacktaika
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bot_network

volumes:
  postgres_data:

networks:
  bot_network:
    driver: bridge